diff a/drivers/misc/Kconfig b/drivers/misc/Kconfig	(rejected hunks)
@@ -602,4 +602,10 @@ config FSYNC_CONTROL
         help
           Say Y here to enable FSync Control
 
+config SOUND_CONTROL
+        bool "Enable support for Sound Control"
+        default y
+        help
+          Enable support for Sound Control
+
 endif # MISC_DEVICES
