diff a/drivers/misc/Kconfig b/drivers/misc/Kconfig	(rejected hunks)
@@ -595,4 +595,11 @@ source "drivers/misc/gcx/gcioctl/Kconfig"
 source "drivers/misc/gcx/gcbv/Kconfig"
 source "drivers/misc/ts0710mux/Kconfig"
 source "drivers/misc/ti-st/Kconfig"
+
+config FSYNC_CONTROL
+        bool "Support for FSync Control"
+        default y
+        help
+          Say Y here to enable FSync Control
+
 endif # MISC_DEVICES
