
<!-- saved from url=(0090)https://raw.github.com/franciscofranco/Tuna_JB_pre1/nightlies-4.3/arch/arm/boot/.gitignore -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><style type="text/css"></style></head><body><pre style="word-wrap: break-word; white-space: pre-wrap;">Image
zImage
xipImage
bootpImage
uImage
</pre></body></html>